:root {
  --primary-color: #222222;
  --primary-color-transparent: rgba(34, 34, 34, 0);
  --secondary-color: #282829;
  --accent-color: #d5c9be;
  --title-input-color: #38535d;
  --placeholder-input-color: #55565a;
  --main-color: #fff;

  --primary-trasition: 0.3s;

  --primary-font: "Arial", sans-serif;
  --secondary-font: "Prata", sans-serif;
}

@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial-BoldItalicMT.woff2") format("woff2"),
    url("./fonts/Arial-BoldItalicMT.woff") format("woff");
  font-weight: 700; /* Bold Italic */
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial-BolditalicMT.woff2") format("woff2"),
    url("./fonts/Arial-BolditalicMT.woff") format("woff");
  font-weight: 700; /* Bold Italic */
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial-BoldMT.woff2") format("woff2"),
    url("./fonts/Arial-BoldMT.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial-ItalicMT.woff2") format("woff2"),
    url("./fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: 400; /* Normal Italic */
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url("./fonts/ArialMT.woff2") format("woff2"),
    url("./fonts/ArialMT.woff") format("woff");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("./fonts/ArialNarrow.woff2") format("woff2"),
    url("./fonts/ArialNarrow.woff") format("woff");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("./fonts/ArialNarrow-Bold.woff2") format("woff2"),
    url("./fonts/ArialNarrow-Bold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("./fonts/ArialNarrow-Italic.woff2") format("woff2"),
    url("./fonts/ArialNarrow-Italic.woff") format("woff");
  font-weight: 400; /* Normal Italic */
  font-style: italic;
}

@font-face {
  font-family: "Prata";
  src: url("./fonts/Prata-Regular.woff2") format("woff2"),
    url("./fonts/Prata-Regular.woff") format("woff");
  font-weight: 400; /* Normal */
  font-style: normal;
}

/* Основные стили */
body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);

  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  *:visited {
    color: var(--main-color);
  }

  ul > li {
    list-style: none;
  }
}

/* .center {
  padding-left: clamp(20px, calc(50% - 960px), 480px);
  padding-right: clamp(20px, calc(50% - 960px), 480px);
} */

.img__global {
  width: 100%;
}

/* Стили для хедера */
.header {
  width: 100vw;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 162px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color-transparent);
  color: var(--main-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  transition: background-color var(--primary-trasition);
}
.scrolled {
  background-color: var(--primary-color);
}

.header__logo {
  color: var(--main-color);
  padding-right: 100px;
  font-family: var(--secondary-font);
  font-size: clamp(1.5rem, 4vw, 2.25rem);
}

.header__nav {
  display: flex;
  gap: 32px;
}

.header__link, .link__animation {
  position: relative;
  font-family: var(--secondary-font);
  font-style: italic;
  color: var(--main-color);
  text-decoration: none;
  transition: var(--primary-trasition);
}


.header__link::after, .link__animation::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--accent-color);
  transition: width 0.3s ease, left 0.3s ease;
}

.header__link:hover, .link__animation:hover {
  color: var(--accent-color);
  
}

.header__link:hover::after, .link__animation:hover::after {
  width: 100%;
  left: 0;
}


/* Адаптивные стили для блока header */

@media (max-width: 1024px) {
  .header {
    padding: 20px;
    flex-direction: column;
  }
  .header__logo {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

/* Адаптивные стили для блока Intro */

/* Стили для блока Intro */
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, #282829 0%, #222222 5%);
  color: var(--main-color);
  margin-bottom: 100px;
  overflow: hidden;
}

.intro__wrapper {
  padding-bottom: 50px;
  padding-top: clamp(224px, 4vw, 80px);
  padding-left: 162px;
  padding-right: clamp(10px, 4vw, 50px);
}

.intro__title {
  font-size: clamp(2.5rem, 4vw, 5rem);
  margin: 0;
  font-family: var(--secondary-font);
  padding-bottom: 50px;
}

.intro__subtitle {
  margin: 0;
  padding-bottom: 64px;
  font-family: var(--secondary-font);
  font-size: clamp(1.2rem, 4vw, 3.125rem);
  grid-column: 1;
}

.intro__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.intro__image {
  width: 40vw;
}

.intro__item {
  position: relative;
  padding-bottom: 35px;
  display: flex;
  font-family: var(--primary-font);
  font-size: clamp(1rem, 4vw, 1.5rem);
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
.intro__item::before {
  position: absolute;
  content: url("./img/checkpoint-svg.svg");
  left: 0;
  width: 50px;
  height: 50px;
}

.intro__item-span {
  font-family: var(--secondary-font);
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.intro__button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(1rem, 4vw, 1.2rem);
  grid-column: 1;
  background-color: var(--main-color);
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 192px;
  height: 96px;
}

@media (hover: hover) {
  .intro__button:hover {
    border: 2px solid var(--main-color);
    transition: var(--primary-trasition);
    background-color: var(--secondary-color);
    color: var(--accent-color);
  }
}
@media (max-width: 1024px) {
  .intro {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro__wrapper {
    order: 2;
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro__image {
    width: 100vw;
  }
}
@media (max-width: 800px) {
  .intro__title {
    text-align: center;
  }
  .intro__item {
    padding-left: 0;
    padding-right: 0;
  }
  .intro__item::before {
    display: none;
  }
}

/* Стили для среднего блока */
.middle-block {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: var(--secondary-color);
}

/* .middle-block__image {
  width: clamp(20%, 25vw, 100%);
  height: auto;
} */

.middle-block__image--left {
  grid-row: span 2;
  grid-column: 1;
}
.middle-block__image--right {
  grid-row: span 2;
  grid-column: 3;
}
.midle-block__content {
  padding: 0 53px 0 53px;
  grid-column: 2;
  grid-row: 1 / 3;
}

.middle-block__list {
  font-size: 1.5rem;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
}

.middle-block__item {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  position: relative;
  color: var(--main-color);
  margin-bottom: 40px;
  border-bottom: 1px solid var(--placeholder-input-color);
  padding-left: 80px;
  padding-bottom: 40px;
}
.middle-block__item:last-child {
  border: none;
  padding-bottom: 0;
}

.middle-block__item::before {
  position: absolute;
  content: url(./img/clause-png.svg);
  width: 58px;
  height: 47px;
  left: 0;
}

.middle-block__button {
  font-weight: 700;
  font-size: 1.25rem;
  grid-column: 2;
  grid-row: 2;
  color: var(--primary-color);
  height: 78px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Адаптивные стили для среднего блока */

@media (max-width: 1024px) {
  .middle-block {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .middle-block__list {
    /* column-gap: 80px; */
    row-gap: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
  }
  .middle-block__item,
  .middle-block__item:last-child {
    /* grid-column: span 1;
    grid-row: span 1; */
    border: 1px solid var(--placeholder-input-color);
    border-radius: 10px;
    padding: 20px;
  }
  /* .middle-block__item:first-child {
    padding-top: 0;
  } */

  .middle-block__item::before {
    position: absolute;
    width: 58px;
    height: 47px;
    left: -70px;
  }

  .middle-block__image {
    width: 100%;
  }

  .midle-block__content {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 100px;
  }

  .middle-block__image--left {
    margin-bottom: 100px;
  }
  .middle-block__image--right {
    margin-bottom: 100px;
    order: 2;
  }
}

@media (max-width: 800px) {
  .middle-block__list {
    padding-left: 0;
  }
  .middle-block__item {
    margin-bottom: 0;
  }

  .midle-block__content {
    margin-top: 20px;
    padding: 0;
  }

  .middle-block__item::before {
    display: none;
    width: 58px;
    height: 47px;
    left: -70px;
  }
}
.middle-block__button {
  border: 2px solid transparent;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (hover: hover) {
  .middle-block__button:hover {
    border: 2px solid var(--main-color);
    transition: var(--primary-trasition);
    background-color: var(--secondary-color);
    color: var(--accent-color);
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .middle-block {
    grid-template-columns: repeat(2, 1fr);
  }
  .middle-block__image {
    grid-column: 1;
  }
  .middle-block__image:first-child {
    margin: 20px;
  }

  .midle-block__content {
    padding: 53px;
    grid-column: 2;
    grid-row: 1 / 5;
  }
}

/* Стили для блока формы */

.form-block {
  max-height: 628px;
  margin-left: 162px;
  margin-right: 162px;
  z-index: 0;
  overflow: visible;
  position: relative;
  background-color: var(--main-color);
  border-radius: 30px;
}

.form-block__background {
  position: absolute;
}

.form-block__background--left {
  z-index: -2;
  top: 0;
  bottom: 0;
  right: -1px;
  width: 100%;
  height: 100%;
  background: url(./img/building-bg.png);
  background-repeat: no-repeat;
  /* background-size: 76%; */
  background-position: 100% 7%;
  border-radius: 0 30px 30px 0;
}

.form-block__background--right {
  z-index: -1;
  top: -138px;
  bottom: 0;
  right: 60px;
  width: clamp(31%, 20vw, 100%);
  /* height: clamp(75%, 4vw, 150%); */
  background: url(./img/woman-bg.png);
  background-size: clamp(96%, 4vw, 150%);
  background-repeat: no-repeat;
}

.form-block__title {
  text-shadow: 0 0 5px var(--main-color);

  font-family: var(--secondary-font);
  font-size: clamp(1rem, 4vw, 3.375rem);
  color: var(--title-input-color);
  margin-bottom: 15px;
}

.form-block__form {
  max-height: 486px;
  max-width: 700px;
  padding: 72px 0 72px 134px;
}

.form-block__label {
  color: var(--placeholder-input-color);
  display: block;
  margin: 10px 0 5px;
}

.form-block__input {
  padding: 14.5px 0 14.5px 40px;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: clamp(1rem, 4vw, 1.5rem);
  color: var(--placeholder-input-color);
  width: 100%;
  height: 65px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

.form-block__checkbox {
  margin-top: 26px;
  margin-bottom: 26px;
}
.form-block__checkbox-label {
  margin-top: 26px;
  margin-bottom: 26px;
  color: var(--placeholder-input-color);
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 1.15rem;
}

.form-block__button {
  text-transform: uppercase;
  font-size: clamp(1rem, 4vw, 1.5rem);
  height: 100px;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
@media (hover: hover) {
  .form-block__button:hover {
    border: 2px solid var(--placeholder-input-color);
    background-color: var(--main-color);
    color: var(--primary-color);
    transition: var(--primary-trasition);
  }
}

@media (min-width: 1920px) and (max-width: 4000px) {
  .form-block__background--right {
    width: clamp(35%, 20vw, 150%);
  }
}

@media (min-width: 1680px) and (max-width: 1920px) {
  .form-block__background--right {
    width: clamp(40%, 4vw, 150%);
  }
}

@media (min-width: 1440px) and (max-width: 1680px) {
  .form-block__form {
    height: 486px;
    width: 700px;
    padding: 72px 0 72px 134px;
  }

  .form-block__background--right {
    width: clamp(75%, 4vw, 150%);
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .form-block__background--right {
    width: clamp(78%, 20vw, 150%);
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .form-block__background--right {
    right: -18px;
    width: clamp(125%, 20vw, 150%);
  }
  .form-block__background--left {
    border-radius: 30px;
  }
}

@media (min-width: 800px) and (max-width: 1440px) {
  .form-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-block__form {
    max-height: 486px;
    max-width: 700px;
    padding: 50px;
  }
}

@media (max-width: 800px) {
  .form-block {
    margin: 0;
  }

  .form-block__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
  }
  .form-block__background--right {
    display: none;
  }

  .form-block__background--left {
    display: none;
  }
}

/* Стили для футера */
.footer {
  margin-top: 100px;
  display: flex;
  background-color: #333;
  color: var(--main-color);
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.footer__container {
  padding-top: 52px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer__links {
  color: var(--accent-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.25rem;
  font-style: italic;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__link:visited {
  color: var(--accent-color);
}

.footer__logo {
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 2.25rem);
}

.footer__copyright {
  margin: 10px 0;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.footer__button {
  border: 2px solid transparent;
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 1.25rem);
  border-radius: 4px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  width: clamp(120px, 4vw, 170px);
  height: clamp(50px, 4vw, 78px);
}
@media (hover: hover) {
  .footer__button:hover {
    border: 2px solid var(--accent-color);

    transition: var(--primary-trasition);
    background-color: var(--secondary-color);
    color: var(--accent-color);
  }
}
@media (hover: hover) {
  .footer__icon:hover .ico__stroke {
    stroke: var(--main-color);
  }
}

.footer__link {
  color: var(--accent-color);
  text-decoration: none;
}
.footer__link .footer__link--hover {
  color: var(--title-input-color);
  text-decoration: underline;
}

@media (hover: hover) {
  .footer__link:hover {
    color: var(--title-input-color);
    transition: var(--primary-trasition);
  }
}

@media (hover: hover) {
  .footer__link:hover .footer__link--hover {
    color: var(--accent-color);
    transition: var(--primary-trasition);
  }
}
@media (hover: hover) {
  .footer__link--hover:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }
}

.footer__content {
  padding-bottom: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer__copyright {
  color: var(--accent-color);
}

@media (max-width: 800px) {
  .footer__content,
  .footer__container {
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
}
